.site-header{
    
    background-image: linear-gradient(to right, #1F1C2C, #928DAB);
    color: cornsilk;
    height:auto;
    
    display: flex;
    
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center; 
    /* padding: 5em 20em; */


}

.container{ 
}

body{
    margin: 0;
}

.profile-pic{
   
    
    width: 150px;
    
    /* margin-left:90px;*/
    margin-top: 20px; 
    align-self: center;
    
}

.intro{
    background-image: linear-gradient(to right, #ED4264, #FFEDBC);
    height: auto;
    display: block;
}
.who-i-am{
    background-image: linear-gradient(to right, #2BC0E4, #EAECC6);
    height: auto;
    display: block;
}
.projects{
    background-image: linear-gradient(to right, #603813, #b29f94);
}
.site-footer{
    background-image: linear-gradient(to right, #283048, #859398);
}

.content{
    margin: 0px;
}