.site-header{
    
    background-image: linear-gradient(to right, #1F1C2C, #928DAB);
    color: cornsilk;
    height:100vh;
    
    display: flex;
    
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center; 
    /* padding: 5em 20em; */


}

body{
    margin: 0;
}

.profile-pic{
   
    
    width: 150px;
    
    /* margin-left:90px;*/
    margin-top: 20px; 
    align-self: center;
    
}
.content{
    margin: 0px;
}